body{
    background-color: black;
}

.buttons{
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

button{
    text-align: center;
    background-color: rgb(170, 230, 210);
    text-decoration: none;
    margin-right: 1.4641288433382138vw;
    border: 1px solid black;
    float: left;
    border: none;
    height: 36.755386565272495vh;
    width: 20.13888888888889vw;
    cursor: pointer;
    font-size: 1.2445095168374818vw;
    font-weight: bold;
    transition: .3s;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(75, 199, 158);
}