*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 27.81844802342606vw;
    height: 73.05936073059361vh;
    position: relative;
    margin: 5% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}
.button-box{
    width: 23vw;
    margin: 5.327245053272451vh auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:30px;
    text-align: center;

}
.toggle-btn{
    padding: 2.5220700152207vh 2.8vw;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn:last-child{
    padding: 1.5220700152207vh 2vw;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    left: 8px;
    right: 10px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 13vw;
    height: 100%;
    background: linear-gradient(to right, #39e46c, #06ffde);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 22.397260273972602vh;
    position: absolute;
    width: 20.497803806734993vw;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 1.5220700152207vh 0;
    margin: 0.76103500761035vh 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 1.5220700152207vh 2.1961932650073206vw;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #39e46c, #06ffde);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.chech-box{
    margin: 30px 10px 30px 0; 
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute
}
#login{
    left: 3.6603221083455346vw;
}
#register{
    left: 32.94289897510981vw;
}